.camperDetails {
  margin-bottom: 60px;
}
.name {
  line-height: 32px;
  font-size: 24px;
  margin-bottom: 8px;
}
.price {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 28px;
}
.images {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
  @media (min-width: 1440px) {
    gap: 48px;
    margin-bottom: 28px;
  }
}
.image {
  width: 221px;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
  @media (min-width: 1440px) {
    width: 292px;
    height: 312px;
  }
}
.description {
  color: var(--dark-grey);
}
