.filters {
  color: #475467;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 32px;
}

.title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #101828;
}
.boxFilter {
  border-top: 1px solid #dadde1;
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  column-gap: 12px;
  width: 360px;
  margin-bottom: 32px;
  color: #101828;
}
