.campersList {
  display: block;
}
.listItem {
  margin-bottom: 32px;
}
.CamperListBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.loadMoreContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 20px; 
}
