@import url(./reset.css);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

button {
  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  width: fit-content;
  background-color: #e44848;;
  transition: background-color 250ms ease-in-out;
  border-radius: 28px;
  color:#fff;
  padding: 16px 48px;
}
button:hover {
  background-color: #d84343;
}

