.locationConteiner {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.inputConteiner {
  position: relative;
}
.locationText {
  font-size: 16px;
  line-height: 24px;
  color: #6c717b;;
  margin-bottom: 8px;
}
.icon {
  fill: #6c717b;
  position: absolute;
  top: 16px;
  left: 18px;
  width: 20px;
  height: 20px;
  transition: fill 250ms ease-in-out;
}

.inputBox {
  padding: 18px 18px 18px 46px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 12px;
  width: 360px;
}
