.navigation {
  position: relative;
  display: flex;
  background-color: #f7f7f7;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 64px;
}

.menu {
  margin: auto;
  display: flex;
  gap: 32px;
}
.static {
  align-content: center;
  color: #101828;
}

.isActive {
  color: #d84343;
}