.cardBox {
  display: flex;
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
  background-color: #fff;
  gap: 24px;
}
.img {
  border-radius: 10px;
  width: 292px;
  height: 320px;
  object-fit: cover;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #101828;
}
.title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.name {
  line-height: 32px;
  font-size: 24px;
}
.price {
  font-size: 24px;
  line-height: 32px;
}
.favoriteBox {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}
.ratingLocation {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.ratingBox {
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 4px;
}
.rating {
  line-height: 24px;
}
.locationBox {
  font-weight: 400;
  display: flex;
  gap: 4px;
  align-items: center;
}
.ratingIcon {
  fill: #ffc531;
  width: 16px;
  height: 16px;
}
.description {
  font-weight: 400;
  line-height: 24px;
  width: 500px;
  color: var(--dark-grey);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 24px;
}
.equipment {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}
.isFavorite {
  fill: #e44848;
}
.favoriteBtn {
  outline: none;
  border: none;
  background-color: transparent;
  display: inline-block;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

.favoriteBtn:hower {
  background-color: transparent;
}

.showBtn {
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  background-color: #e44848;
}
